<style type="text/css">
	.header-home{
		display: none;
	}
	body{
		margin-top:-48px;
	}
	.inset{
		padding-top: 50px;
	}
</style>
<header class="action-bar fixed-top">
	<a href="#/servos" class="app-icon action up" data-transition="pop">
		<i class="icon-up-button"></i>
		<i class="icon-cc-bcc"></i>
	</a>
	<h2 class="title"> <span class="subtitle"></span></h2>
</header>

<div class="page">
	<div class="content">
    	<div class="inset">
			<form class="form-flex">
				<label class="block-label">Nome</label>
				<div class="flex-group">
					<input type="text" class="input-text flex1" placeholder="Insira o nome aqui...">
				</div>

				<label class="block-label">Celular</label>
				<div class="flex-group">
					<input type="tel" class="input-text flex2" placeholder="Insira o celular aqui...">
				</div>

				<div class="form-actions center-me">
					<button type="button" class="btn">Salvar</button>
				</div>
	        </form>
		</div>
	</div>
</div>